In [7]:
import pandas as pd
#Get people file data
people=pd.read_csv("Data/people.csv")
#Get activity file data
act_train=pd.read_csv("Data/act_train.csv")

In [3]:
people

,people_id,char_1,group_1,char_2,date,char_3,char_4,char_5,char_6,char_7,...,char_29,char_30,char_31,char_32,char_33,char_34,char_35,char_36,char_37,char_38
0,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,False,True,True,False,False,True,True,True,False,36
1,ppl_100002,type 2,group 8688,type 3,2021-01-06,type 28,type 9,type 5,type 3,type 11,...,False,True,True,True,True,True,True,True,False,76
2,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,False,False,True,True,True,True,False,True,True,99
3,ppl_100004,type 2,group 22593,type 3,2022-07-20,type 40,type 25,type 9,type 4,type 16,...,True,True,True,True,True,True,True,True,True,76
4,ppl_100006,type 2,group 6534,type 3,2022-07-27,type 40,type 25,type 9,type 3,type 8,...,False,False,True,False,False,False,True,True,False,84
5,ppl_10001,type 2,group 25417,type 3,2022-10-14,type 6,type 6,type 4,type 1,type 1,...,False,True,True,True,True,True,True,True,True,90
6,ppl_100010,type 2,group 17304,type 2,2022-09-01,type 8,type 7,type 8,type 1,type 7,...,False,False,False,False,False,False,False,False,False,2
7,ppl_100013,type 2,group 4204,type 3,2023-01-24,type 4,type 8,type 4,type 1,type 7,...,False,False,True,True,True,True,False,True,True,91
8,ppl_100019,type 2,group 45749,type 3,2023-03-26,type 40,type 25,type 9,type 3,type 9,...,False,False,False,False,False,False,False,False,False,84
9,ppl_100025,type 2,group 36096,type 3,2022-08-26,type 14,type 6,type 8,type 3,type 9,...,False,False,False,False,False,False,False,False,False,76
10,ppl_100028,type 2,group 17304,type 2,2023-04-21,type 40,type 25,type 9,type 4,type 20,...,False,False,False,False,False,False,False,False,False,0
11,ppl_100029,type 2,group 17304,type 2,2023-07-15,type 4,type 6,type 4,type 1,type 2,...,False,False,False,False,False,False,False,False,False,0
12,ppl_100032,type 2,group 18035,type 3,2022-07-26,type 7,type 6,type 7,type 4,type 17,...,False,False,False,False,False,False,False,False,False,60
13,ppl_100033,type 2,group 17304,type 2,2022-07-26,type 10,type 7,type 6,type 3,type 9,...,False,False,False,False,False,False,False,False,False,0
14,ppl_100035,type 2,group 9439,type 3,2022-01-22,type 4,type 10,type 4,type 1,type 23,...,False,False,False,False,False,False,False,False,True,100
15,ppl_100040,type 2,group 19662,type 3,2022-08-11,type 5,type 5,type 5,type 1,type 23,...,True,True,True,False,True,True,False,True,False,68
16,ppl_100042,type 2,group 7636,type 3,2022-12-16,type 40,type 25,type 9,type 6,type 9,...,False,False,False,False,False,False,False,False,False,67
17,ppl_100043,type 2,group 39166,type 3,2023-08-22,type 6,type 6,type 4,type 1,type 1,...,False,False,True,False,False,True,False,True,True,79
18,ppl_100045,type 2,group 17304,type 2,2022-09-21,type 40,type 25,type 9,type 2,type 6,...,False,False,False,False,False,False,False,False,False,7
19,ppl_100047,type 2,group 17304,type 2,2022-11-14,type 40,type 25,type 9,type 3,type 8,...,False,False,False,False,False,False,False,False,False,0
20,ppl_100048,type 1,group 2103,type 1,2021-12-25,type 1,type 1,type 1,type 3,type 8,...,False,False,False,True,False,True,False,True,True,96
21,ppl_100049,type 2,group 9405,type 3,2022-02-04,type 4,type 12,type 4,type 3,type 11,...,False,False,False,False,False,False,False,False,False,70
22,ppl_10005,type 2,group 17304,type 2,2023-03-25,type 40,type 25,type 9,type 3,type 8,...,False,False,False,False,False,True,False,False,False,42
23,ppl_100050,type 2,group 7256,type 3,2023-01-28,type 40,type 25,type 9,type 1,type 3,...,True,True,True,True,True,True,True,True,True,100
24,ppl_100051,type 1,group 10874,type 1,2022-08-27,type 1,type 1,type 1,type 5,type 18,...,False,False,False,False,False,False,False,False,False,76
25,ppl_100052,type 2,group 17304,type 2,2020-05-28,type 4,type 2,type 4,type 2,type 6,...,True,True,True,True,True,True,True,True,True,39
26,ppl_100058,type 2,group 42007,type 3,2022-12-28,type 10,type 6,type 6,type 1,type 1,...,False,False,False,True,False,False,False,False,False,78
27,ppl_10006,type 2,group 627,type 3,2022-11-17,type 40,type 25,type 9,type 3,type 11,...,False,False,False,False,False,False,False,False,False,73
28,ppl_100060,type 2,group 17304,type 2,2023-08-31,type 11,type 2,type 2,type 4,type 13,...,False,False,False,False,False,False,False,False,False,0
29,ppl_100062,type 1,group 49,type 1,2022-03-09,type 1,type 1,type 1,type 1,type 10,...,False,False,False,True,False,True,False,False,False,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189088,ppl_99935,type 2,group 17304,type 2,2022-08-30,type 4,type 6,type 4,type 1,type 4,...,False,False,False,False,False,False,False,False,False,0
189089,ppl_99936,type 2,group 23542,type 3,2023-05-05,type 6,type 2,type 8,type 3,type 8,...,True,True,True,True,True,True,True,True,True,95
189090,ppl_99937,type 2,group 41,type 3,2021-10-27,type 40,type 25,type 9,type 1,type 1,...,False,False,False,True,False,True,True,True,True,89
189091,ppl_99939,type 2,group 17304,type 2,2022-12-22,type 4,type 6,type 4,type 5,type 21,...,False,False,False,False,False,False,False,False,False,0
189092,ppl_99944,type 2,group 386,type 3,2023-07-26,type 40,type 25,type 9,type 3,type 11,...,True,True,True,True,True,False,False,True,True,92
189093,ppl_99946,type 2,group 17304,type 2,2023-02-10,type 4,type 6,type 4,type 1,type 14,...,False,False,False,False,False,False,False,False,False,0
189094,ppl_99947,type 2,group 27631,type 3,2022-09-08,type 19,type 6,type 5,type 4,type 17,...,False,False,False,False,False,False,False,False,False,85
189095,ppl_99950,type 2,group 1490,type 3,2023-06-23,type 40,type 25,type 9,type 4,type 20,...,True,True,True,True,True,True,True,True,True,98
189096,ppl_99955,type 2,group 11055,type 3,2023-05-31,type 6,type 8,type 5,type 5,type 15,...,False,False,False,False,False,False,False,False,False,90
189097,ppl_99956,type 2,group 20306,type 3,2023-05-31,type 4,type 8,type 5,type 5,type 15,...,False,False,False,False,False,False,False,False,False,90
189098,ppl_99959,type 2,group 7767,type 3,2023-06-20,type 4,type 6,type 4,type 3,type 8,...,False,True,True,True,True,True,False,True,True,51
189099,ppl_9996,type 2,group 17304,type 2,2022-10-21,type 40,type 25,type 9,type 3,type 8,...,False,False,False,False,False,False,False,False,False,0
189100,ppl_99961,type 2,group 17304,type 2,2020-07-10,type 40,type 25,type 9,type 4,type 13,...,False,False,False,False,False,False,False,False,False,0
189101,ppl_99963,type 2,group 667,type 3,2023-06-25,type 40,type 25,type 9,type 1,type 2,...,False,False,False,True,False,True,False,True,True,98
189102,ppl_99964,type 2,group 8386,type 3,2023-06-29,type 4,type 4,type 4,type 1,type 23,...,False,False,True,True,False,True,False,True,True,90
189103,ppl_99966,type 2,group 28835,type 3,2022-03-24,type 7,type 6,type 7,type 3,type 11,...,False,False,False,False,False,False,False,False,False,61
189104,ppl_99967,type 2,group 28832,type 3,2023-03-26,type 4,type 10,type 4,type 3,type 9,...,False,False,False,False,False,False,False,False,False,55
189105,ppl_9997,type 2,group 17304,type 2,2022-04-27,type 4,type 5,type 5,type 4,type 13,...,False,False,False,False,False,False,False,False,False,5
189106,ppl_99973,type 2,group 18907,type 3,2020-07-21,type 8,type 6,type 8,type 1,type 1,...,False,False,False,True,False,True,False,True,False,50
189107,ppl_99975,type 2,group 11303,type 3,2023-06-28,type 40,type 25,type 9,type 1,type 23,...,True,True,True,True,True,True,True,True,True,95
189108,ppl_99977,type 2,group 8279,type 3,2023-01-04,type 12,type 2,type 8,type 2,type 6,...,False,False,False,False,False,True,False,False,False,83
189109,ppl_99978,type 2,group 2632,type 3,2023-03-16,type 6,type 15,type 4,type 1,type 3,...,False,False,False,False,False,True,False,True,True,94
189110,ppl_9998,type 2,group 17304,type 2,2022-03-02,type 27,type 6,type 7,type 2,type 6,...,False,False,False,True,False,False,False,True,True,45
189111,ppl_99981,type 2,group 17304,type 2,2023-01-26,type 5,type 5,type 5,type 2,type 5,...,False,False,False,True,False,True,False,True,True,3
189112,ppl_99986,type 2,group 17304,type 2,2021-03-27,type 4,type 6,type 4,type 3,type 8,...,False,False,False,False,False,False,False,False,False,0
189113,ppl_99987,type 1,group 8600,type 1,2022-04-02,type 4,type 6,type 4,type 3,type 11,...,False,False,False,True,False,True,False,True,True,89
189114,ppl_9999,type 2,group 17304,type 2,2023-02-23,type 6,type 2,type 8,type 3,type 11,...,False,False,False,False,False,False,False,False,False,0
189115,ppl_99992,type 2,group 17304,type 2,2020-06-25,type 5,type 5,type 3,type 4,type 16,...,False,False,False,False,False,False,False,False,False,0
189116,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,True,True,True,True,False,True,True,True,True,95
189117,ppl_99997,type 2,group 17304,type 2,2022-03-12,type 40,type 25,type 9,type 3,type 8,...,False,False,False,False,False,False,False,False,False,36

In [3]:
act_train

NameError: name 'act_train' is not defined

In [5]:
#Merge dataframe
mergeddf=people.merge(act_train,"inner",on="people_id")

In [6]:
mergeddf

,people_id,char_1_x,group_1,char_2_x,date_x,char_3_x,char_4_x,char_5_x,char_6_x,char_7_x,...,char_2_y,char_3_y,char_4_y,char_5_y,char_6_y,char_7_y,char_8_y,char_9_y,char_10_y,outcome
0,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,0
1,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
2,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
3,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
4,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
5,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1727,0
6,ppl_100002,type 2,group 8688,type 3,2021-01-06,type 28,type 9,type 5,type 3,type 11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
7,ppl_100002,type 2,group 8688,type 3,2021-01-06,type 28,type 9,type 5,type 3,type 11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
8,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
9,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
10,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 894,1
11,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 143,1
12,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
13,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 297,1
14,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 269,1
15,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
16,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
17,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
18,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
19,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 230,1
20,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
21,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
22,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
23,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
24,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
25,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 143,1
26,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
27,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 276,1
28,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
29,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2197261,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197262,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 418,1
2197263,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1396,1
2197264,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197265,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197266,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 61,1
2197267,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197268,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197269,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197270,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197271,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197272,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,1
2197273,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 201,1
2197274,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 201,1
2197275,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197276,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197277,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197278,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 418,1
2197279,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 520,1
2197280,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 602,1
2197281,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197282,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 759,1
2197283,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 418,1
2197284,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 142,1
2197285,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197286,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 418,1
2197287,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1832,1
2197288,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197289,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 199,1
2197290,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1

In [7]:
mergeddf.to_csv("Data/mdf.csv")

In [8]:
mergeddf

,people_id,char_1_x,group_1,char_2_x,date_x,char_3_x,char_4_x,char_5_x,char_6_x,char_7_x,...,char_2_y,char_3_y,char_4_y,char_5_y,char_6_y,char_7_y,char_8_y,char_9_y,char_10_y,outcome
0,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,0
1,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
2,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
3,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
4,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
5,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1727,0
6,ppl_100002,type 2,group 8688,type 3,2021-01-06,type 28,type 9,type 5,type 3,type 11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
7,ppl_100002,type 2,group 8688,type 3,2021-01-06,type 28,type 9,type 5,type 3,type 11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
8,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
9,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
10,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 894,1
11,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 143,1
12,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
13,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 297,1
14,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 269,1
15,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
16,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
17,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
18,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
19,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 230,1
20,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
21,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
22,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
23,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
24,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
25,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 143,1
26,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
27,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 276,1
28,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
29,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2197261,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197262,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 418,1
2197263,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1396,1
2197264,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197265,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197266,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 61,1
2197267,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197268,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197269,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197270,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197271,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197272,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,1
2197273,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 201,1
2197274,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 201,1
2197275,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197276,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197277,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197278,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 418,1
2197279,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 520,1
2197280,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 602,1
2197281,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197282,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 759,1
2197283,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 418,1
2197284,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 142,1
2197285,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197286,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 418,1
2197287,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1832,1
2197288,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197289,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 199,1
2197290,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1

In [9]:
mergeddf.size

120851005

In [9]:
act_train.columns

Index([u'people_id', u'activity_id', u'date', u'activity_category', u'char_1',
       u'char_2', u'char_3', u'char_4', u'char_5', u'char_6', u'char_7',
       u'char_8', u'char_9', u'char_10', u'outcome'],
      dtype='object')

In [ ]:
cols_to_transform = ['people_id', 'activity_id', 'date', 'activity_category', 'char_1',
       'char_2', 'char_3', 'char_4', 'char_5', 'char_6', 'char_7',
       'char_8', 'char_9', 'char_10', 'outcome' ]
import numpy as np
mdf1 = pd.get_dummies(act_train,columns = cols_to_transform)

In [12]:
mdf1

,people_id,date_x,char_38,activity_id,date_y,outcome,char_1_x_type 1,char_1_x_type 2,group_1_group 10008,group_1_group 10025,...,char_10_y_type 982,char_10_y_type 984,char_10_y_type 986,char_10_y_type 987,char_10_y_type 989,char_10_y_type 99,char_10_y_type 992,char_10_y_type 994,char_10_y_type 997,char_10_y_type 999
0,ppl_100,2021-06-29,36,act2_1734928,2023-08-26,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ppl_100,2021-06-29,36,act2_2434093,2022-09-27,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ppl_100,2021-06-29,36,act2_3404049,2022-09-27,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ppl_100,2021-06-29,36,act2_3651215,2023-08-04,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ppl_100,2021-06-29,36,act2_4109017,2023-08-26,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,ppl_100,2021-06-29,36,act2_898576,2023-08-04,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,ppl_100002,2021-01-06,76,act2_1233489,2022-11-23,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,ppl_100002,2021-01-06,76,act2_1623405,2022-11-23,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,ppl_100003,2022-06-10,99,act2_1111598,2023-02-07,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,ppl_100003,2022-06-10,99,act2_1177453,2023-06-28,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,ppl_100003,2022-06-10,99,act2_133509,2022-08-10,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,ppl_100003,2022-06-10,99,act2_1408475,2023-03-02,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,ppl_100003,2022-06-10,99,act2_1610829,2022-09-13,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,ppl_100003,2022-06-10,99,act2_1688731,2023-02-10,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,ppl_100003,2022-06-10,99,act2_1961720,2023-06-28,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,ppl_100003,2022-06-10,99,act2_1988351,2022-08-23,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,ppl_100003,2022-06-10,99,act2_2198176,2022-08-16,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,ppl_100003,2022-06-10,99,act2_2437661,2023-02-02,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,ppl_100003,2022-06-10,99,act2_2476911,2023-03-02,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,ppl_100003,2022-06-10,99,act2_2557270,2022-08-30,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,ppl_100003,2022-06-10,99,act2_2581989,2023-02-21,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,ppl_100003,2022-06-10,99,act2_3116385,2023-02-15,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,ppl_100003,2022-06-10,99,act2_3159712,2022-08-30,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,ppl_100003,2022-06-10,99,act2_3292005,2023-05-03,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,ppl_100003,2022-06-10,99,act2_3461867,2023-08-02,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,ppl_100003,2022-06-10,99,act2_3468306,2023-03-02,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,ppl_100003,2022-06-10,99,act2_3867292,2023-02-10,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,ppl_100003,2022-06-10,99,act2_3990676,2023-08-30,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,ppl_100003,2022-06-10,99,act2_4102292,2023-08-30,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,ppl_100003,2022-06-10,99,act2_4160587,2023-02-21,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,ppl_109255,2022-08-19,72,act2_3120818,2022-09-16,1,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99971,ppl_109255,2022-08-19,72,act2_3137976,2022-09-16,1,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99972,ppl_109255,2022-08-19,72,act2_369353,2022-09-15,1,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99973,ppl_109255,2022-08-19,72,act2_3871872,2022-09-15,1,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99974,ppl_109255,2022-08-19,72,act2_4009695,2022-09-16,1,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99975,ppl_109255,2022-08-19,72,act2_4106250,2022-09-16,1,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99976,ppl_109255,2022-08-19,72,act2_4311887,2022-09-16,1,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99977,ppl_109255,2022-08-19,72,act2_4627463,2022-09-16,1,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99978,ppl_109255,2022-08-19,72,act2_475160,2022-09-15,1,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99979,ppl_109255,2022-08-19,72,act2_841168,2022-09-16,1,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99980,ppl_109255,2022-08-19,72,act2_943984,2022-09-16,1,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99981,ppl_109255,2022-08-19,72,act2_971891,2022-09-14,1,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99982,ppl_109256,2022-06-18,4,act2_2264339,2022-08-23,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99983,ppl_109256,2022-06-18,4,act2_34899,2022-09-16,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99984,ppl_109256,2022-06-18,4,act2_3532727,2022-09-16,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99985,ppl_109256,2022-06-18,4,act2_3578867,2022-10-01,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99986,ppl_109256,2022-06-18,4,act2_4136223,2022-09-14,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99987,ppl_109256,2022-06-18,4,act2_4385733,2022-09-08,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99988,ppl_109256,2022-06-18,4,act2_669375,2022-11-09,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99989,ppl_109258,2023-01-28,56,act2_1716036,2023-07-28,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99990,ppl_109258,2023-01-28,56,act2_2117010,2023-07-28,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99991,ppl_109258,2023-01-28,56,act2_4197917,2023-07-28,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99992,ppl_109259,2021-10-19,0,act2_1003361,2023-05-24,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99993,ppl_109259,2021-10-19,0,act2_1158228,2023-07-20,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99994,ppl_109259,2021-10-19,0,act2_1233650,2023-07-20,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99995,ppl_109259,2021-10-19,0,act2_1245600,2023-08-03,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99996,ppl_109259,2021-10-19,0,act2_1273307,2022-12-27,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99997,ppl_109259,2021-10-19,0,act2_13687,2023-06-08,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99998,ppl_109259,2021-10-19,0,act2_138907,2023-02-08,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99999,ppl_109259,2021-10-19,0,act2_1479839,2023-05-26,0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
mdf1 = pd.get_dummies(mergeddf[:100000],columns = cols_to_transform)

count         2197291
unique        2197291
top       act2_979099
freq                1
Name: activity_id, dtype: object