In [39]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.cross_validation import cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [40]:
# Path to people.csv from ReadHatKaggle data set
PEOPLE_FILE_PATH='/Users/sanjanajayakumar/Desktop/Predicting Red Hat Business Value/people.csv'
# Path to act_train.csv from RedHatKaggle data set
ACTIVITIES_FILE_PATH='/Users/sanjanajayakumar/Desktop/Predicting Red Hat Business Value/act_train.csv'
# Path to test.csv from RedHatKaggle data set
TEST_DATA_FILE_PATH='/Users/sanjanajayakumar/Desktop/Predicting Red Hat Business Value/act_test.csv'

# For enabling one hot key encoding
ONE_HOT_KEY = False

# Columns that do not represent features
# TODO: date is not a NON-FEATURE, the preprocessing for date has not been done
NON_FEATURE=['people_people_id','people_id','activity_id','outcome','people_date','date']

In [41]:
def category_to_label_encoding(dataset,identity_columns=['people_people_id','people_id','activity_id']):
    for column in dataset.columns:
        if column not in identity_columns:
            if (dataset[column].dtype == 'O'):
                dataset[column]=dataset[column].apply(lambda x: str(x).split(' ')[1]).astype(np.int32)
              # This converts bool to int, but scikit treats boolean as int
#           elif dataset[column].dtype == 'bool':
#                 le=LabelEncoder()
#                 le.fit(['True','False'])
#                 dataset[column]=le.transform(dataset[column])
    return dataset

In [42]:
# Function to change labels of categories to one-hot encoding using scikit's OneHot Encoding
# pd.get_dummies(df) does the same, provides sweet header's as well but it it not fast enough, kill's memory
def category_to_one_hot(dataset,non_feature=NON_FEATURE):
    boolean_column = []
#     column_names = []
    counter=0
    for column in dataset.columns:
        if column not in NON_FEATURE:
            if dataset[column].dtype == 'bool':
                counter += 1
                continue
            if dataset[column].dtype == '<M8[ns]':
                counter += 1
                continue
            boolean_column.append(counter)
#             column_names.append(column)# Read the data set's
            counter += 1
    ds = dataset.drop(NON_FEATURE, axis=1)
    grd_enc = OneHotEncoder(categorical_features=boolean_column)
    encoded_arr=grd_enc.fit_transform(ds).toarray()
    return encoded_arr,grd_enc

In [43]:
# Read the data set's
people_df=pd.read_csv(PEOPLE_FILE_PATH,parse_dates=["date"],true_values=["True"],false_values=["False"])
activity_df=pd.read_csv(ACTIVITIES_FILE_PATH, parse_dates=["date"])
test_df=pd.read_csv(TEST_DATA_FILE_PATH,parse_dates=["date"])

In [44]:
people_df

,people_id,char_1,group_1,char_2,date,char_3,char_4,char_5,char_6,char_7,...,char_29,char_30,char_31,char_32,char_33,char_34,char_35,char_36,char_37,char_38
0,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,False,True,True,False,False,True,True,True,False,36
1,ppl_100002,type 2,group 8688,type 3,2021-01-06,type 28,type 9,type 5,type 3,type 11,...,False,True,True,True,True,True,True,True,False,76
2,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,False,False,True,True,True,True,False,True,True,99
3,ppl_100004,type 2,group 22593,type 3,2022-07-20,type 40,type 25,type 9,type 4,type 16,...,True,True,True,True,True,True,True,True,True,76
4,ppl_100006,type 2,group 6534,type 3,2022-07-27,type 40,type 25,type 9,type 3,type 8,...,False,False,True,False,False,False,True,True,False,84
5,ppl_10001,type 2,group 25417,type 3,2022-10-14,type 6,type 6,type 4,type 1,type 1,...,False,True,True,True,True,True,True,True,True,90
6,ppl_100010,type 2,group 17304,type 2,2022-09-01,type 8,type 7,type 8,type 1,type 7,...,False,False,False,False,False,False,False,False,False,2
7,ppl_100013,type 2,group 4204,type 3,2023-01-24,type 4,type 8,type 4,type 1,type 7,...,False,False,True,True,True,True,False,True,True,91
8,ppl_100019,type 2,group 45749,type 3,2023-03-26,type 40,type 25,type 9,type 3,type 9,...,False,False,False,False,False,False,False,False,False,84
9,ppl_100025,type 2,group 36096,type 3,2022-08-26,type 14,type 6,type 8,type 3,type 9,...,False,False,False,False,False,False,False,False,False,76
10,ppl_100028,type 2,group 17304,type 2,2023-04-21,type 40,type 25,type 9,type 4,type 20,...,False,False,False,False,False,False,False,False,False,0
11,ppl_100029,type 2,group 17304,type 2,2023-07-15,type 4,type 6,type 4,type 1,type 2,...,False,False,False,False,False,False,False,False,False,0
12,ppl_100032,type 2,group 18035,type 3,2022-07-26,type 7,type 6,type 7,type 4,type 17,...,False,False,False,False,False,False,False,False,False,60
13,ppl_100033,type 2,group 17304,type 2,2022-07-26,type 10,type 7,type 6,type 3,type 9,...,False,False,False,False,False,False,False,False,False,0
14,ppl_100035,type 2,group 9439,type 3,2022-01-22,type 4,type 10,type 4,type 1,type 23,...,False,False,False,False,False,False,False,False,True,100
15,ppl_100040,type 2,group 19662,type 3,2022-08-11,type 5,type 5,type 5,type 1,type 23,...,True,True,True,False,True,True,False,True,False,68
16,ppl_100042,type 2,group 7636,type 3,2022-12-16,type 40,type 25,type 9,type 6,type 9,...,False,False,False,False,False,False,False,False,False,67
17,ppl_100043,type 2,group 39166,type 3,2023-08-22,type 6,type 6,type 4,type 1,type 1,...,False,False,True,False,False,True,False,True,True,79
18,ppl_100045,type 2,group 17304,type 2,2022-09-21,type 40,type 25,type 9,type 2,type 6,...,False,False,False,False,False,False,False,False,False,7
19,ppl_100047,type 2,group 17304,type 2,2022-11-14,type 40,type 25,type 9,type 3,type 8,...,False,False,False,False,False,False,False,False,False,0
20,ppl_100048,type 1,group 2103,type 1,2021-12-25,type 1,type 1,type 1,type 3,type 8,...,False,False,False,True,False,True,False,True,True,96
21,ppl_100049,type 2,group 9405,type 3,2022-02-04,type 4,type 12,type 4,type 3,type 11,...,False,False,False,False,False,False,False,False,False,70
22,ppl_10005,type 2,group 17304,type 2,2023-03-25,type 40,type 25,type 9,type 3,type 8,...,False,False,False,False,False,True,False,False,False,42
23,ppl_100050,type 2,group 7256,type 3,2023-01-28,type 40,type 25,type 9,type 1,type 3,...,True,True,True,True,True,True,True,True,True,100
24,ppl_100051,type 1,group 10874,type 1,2022-08-27,type 1,type 1,type 1,type 5,type 18,...,False,False,False,False,False,False,False,False,False,76
25,ppl_100052,type 2,group 17304,type 2,2020-05-28,type 4,type 2,type 4,type 2,type 6,...,True,True,True,True,True,True,True,True,True,39
26,ppl_100058,type 2,group 42007,type 3,2022-12-28,type 10,type 6,type 6,type 1,type 1,...,False,False,False,True,False,False,False,False,False,78
27,ppl_10006,type 2,group 627,type 3,2022-11-17,type 40,type 25,type 9,type 3,type 11,...,False,False,False,False,False,False,False,False,False,73
28,ppl_100060,type 2,group 17304,type 2,2023-08-31,type 11,type 2,type 2,type 4,type 13,...,False,False,False,False,False,False,False,False,False,0
29,ppl_100062,type 1,group 49,type 1,2022-03-09,type 1,type 1,type 1,type 1,type 10,...,False,False,False,True,False,True,False,False,False,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189088,ppl_99935,type 2,group 17304,type 2,2022-08-30,type 4,type 6,type 4,type 1,type 4,...,False,False,False,False,False,False,False,False,False,0
189089,ppl_99936,type 2,group 23542,type 3,2023-05-05,type 6,type 2,type 8,type 3,type 8,...,True,True,True,True,True,True,True,True,True,95
189090,ppl_99937,type 2,group 41,type 3,2021-10-27,type 40,type 25,type 9,type 1,type 1,...,False,False,False,True,False,True,True,True,True,89
189091,ppl_99939,type 2,group 17304,type 2,2022-12-22,type 4,type 6,type 4,type 5,type 21,...,False,False,False,False,False,False,False,False,False,0
189092,ppl_99944,type 2,group 386,type 3,2023-07-26,type 40,type 25,type 9,type 3,type 11,...,True,True,True,True,True,False,False,True,True,92
189093,ppl_99946,type 2,group 17304,type 2,2023-02-10,type 4,type 6,type 4,type 1,type 14,...,False,False,False,False,False,False,False,False,False,0
189094,ppl_99947,type 2,group 27631,type 3,2022-09-08,type 19,type 6,type 5,type 4,type 17,...,False,False,False,False,False,False,False,False,False,85
189095,ppl_99950,type 2,group 1490,type 3,2023-06-23,type 40,type 25,type 9,type 4,type 20,...,True,True,True,True,True,True,True,True,True,98
189096,ppl_99955,type 2,group 11055,type 3,2023-05-31,type 6,type 8,type 5,type 5,type 15,...,False,False,False,False,False,False,False,False,False,90
189097,ppl_99956,type 2,group 20306,type 3,2023-05-31,type 4,type 8,type 5,type 5,type 15,...,False,False,False,False,False,False,False,False,False,90
189098,ppl_99959,type 2,group 7767,type 3,2023-06-20,type 4,type 6,type 4,type 3,type 8,...,False,True,True,True,True,True,False,True,True,51
189099,ppl_9996,type 2,group 17304,type 2,2022-10-21,type 40,type 25,type 9,type 3,type 8,...,False,False,False,False,False,False,False,False,False,0
189100,ppl_99961,type 2,group 17304,type 2,2020-07-10,type 40,type 25,type 9,type 4,type 13,...,False,False,False,False,False,False,False,False,False,0
189101,ppl_99963,type 2,group 667,type 3,2023-06-25,type 40,type 25,type 9,type 1,type 2,...,False,False,False,True,False,True,False,True,True,98
189102,ppl_99964,type 2,group 8386,type 3,2023-06-29,type 4,type 4,type 4,type 1,type 23,...,False,False,True,True,False,True,False,True,True,90
189103,ppl_99966,type 2,group 28835,type 3,2022-03-24,type 7,type 6,type 7,type 3,type 11,...,False,False,False,False,False,False,False,False,False,61
189104,ppl_99967,type 2,group 28832,type 3,2023-03-26,type 4,type 10,type 4,type 3,type 9,...,False,False,False,False,False,False,False,False,False,55
189105,ppl_9997,type 2,group 17304,type 2,2022-04-27,type 4,type 5,type 5,type 4,type 13,...,False,False,False,False,False,False,False,False,False,5
189106,ppl_99973,type 2,group 18907,type 3,2020-07-21,type 8,type 6,type 8,type 1,type 1,...,False,False,False,True,False,True,False,True,False,50
189107,ppl_99975,type 2,group 11303,type 3,2023-06-28,type 40,type 25,type 9,type 1,type 23,...,True,True,True,True,True,True,True,True,True,95
189108,ppl_99977,type 2,group 8279,type 3,2023-01-04,type 12,type 2,type 8,type 2,type 6,...,False,False,False,False,False,True,False,False,False,83
189109,ppl_99978,type 2,group 2632,type 3,2023-03-16,type 6,type 15,type 4,type 1,type 3,...,False,False,False,False,False,True,False,True,True,94
189110,ppl_9998,type 2,group 17304,type 2,2022-03-02,type 27,type 6,type 7,type 2,type 6,...,False,False,False,True,False,False,False,True,True,45
189111,ppl_99981,type 2,group 17304,type 2,2023-01-26,type 5,type 5,type 5,type 2,type 5,...,False,False,False,True,False,True,False,True,True,3
189112,ppl_99986,type 2,group 17304,type 2,2021-03-27,type 4,type 6,type 4,type 3,type 8,...,False,False,False,False,False,False,False,False,False,0
189113,ppl_99987,type 1,group 8600,type 1,2022-04-02,type 4,type 6,type 4,type 3,type 11,...,False,False,False,True,False,True,False,True,True,89
189114,ppl_9999,type 2,group 17304,type 2,2023-02-23,type 6,type 2,type 8,type 3,type 11,...,False,False,False,False,False,False,False,False,False,0
189115,ppl_99992,type 2,group 17304,type 2,2020-06-25,type 5,type 5,type 3,type 4,type 16,...,False,False,False,False,False,False,False,False,False,0
189116,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,True,True,True,True,False,True,True,True,True,95
189117,ppl_99997,type 2,group 17304,type 2,2022-03-12,type 40,type 25,type 9,type 3,type 8,...,False,False,False,False,False,False,False,False,False,36

In [45]:
# Introduce a category for null values called category 0 since scikit needs numeric data
people_df.fillna("type 0", inplace=True)
activity_df.fillna("type 0", inplace=True)
test_df.fillna("type 0", inplace=True)

In [46]:
days = {0:'Mon',1:'Tues',2:'Weds',3:'Thurs',4:'Fri',5:'Sat',6:'Sun'}
months = {0: 'Jan', 1: 'Feb', 2: 'Mar', 3: "Apr", 4: "May", 5: "Jun", 6: "Jul", 7: "Aug", 8: "Sep", 9: "Oct", 10: "Nov", 11: "Dec"}

In [47]:
people_df['days'] = people_df['date'].dt.dayofweek#.apply(lambda x: days[x])
people_df['month'] = people_df['date'].dt.month#.apply(lambda x: months[x-1])
people_df['quarter'] = people_df['date'].dt.quarter
people_df['year'] = people_df['date'].dt.year
people_df['week'] = people_df['date'].dt.week
people_df['dayOfYear'] = people_df['date'].dt.day
#del people_df['date']

test_df['days'] = test_df['date'].dt.dayofweek#.apply(lambda x: days[x])
test_df['month'] = test_df['date'].dt.month#.apply(lambda x: months[x-1])
test_df['quarter'] = test_df['date'].dt.quarter
test_df['year'] = test_df['date'].dt.year
test_df['week'] = test_df['date'].dt.week
test_df['dayOfYear'] = test_df['date'].dt.day
#del test_df['date']

activity_df['days'] = activity_df['date'].dt.dayofweek#.apply(lambda x: days[x])
activity_df['month'] = activity_df['date'].dt.month#.apply(lambda x: months[x-1])
activity_df['quarter'] = activity_df['date'].dt.quarter
activity_df['year'] = activity_df['date'].dt.year
activity_df['week'] = activity_df['date'].dt.week
activity_df['dayOfYear'] = activity_df['date'].dt.day
#del activity_df['date']

In [48]:
people_df.columns

Index([u'people_id', u'char_1', u'group_1', u'char_2', u'date', u'char_3',
       u'char_4', u'char_5', u'char_6', u'char_7', u'char_8', u'char_9',
       u'char_10', u'char_11', u'char_12', u'char_13', u'char_14', u'char_15',
       u'char_16', u'char_17', u'char_18', u'char_19', u'char_20', u'char_21',
       u'char_22', u'char_23', u'char_24', u'char_25', u'char_26', u'char_27',
       u'char_28', u'char_29', u'char_30', u'char_31', u'char_32', u'char_33',
       u'char_34', u'char_35', u'char_36', u'char_37', u'char_38', u'days',
       u'month', u'quarter', u'year', u'week', u'dayOfYear'],
      dtype='object')

In [49]:
# Rename columns under people_df to avoid same-names in the three dataframe
people_df = people_df.rename(columns=lambda x : "people_" + x)
#test_df = test_df.rename(columns=lambda x : "test_" + x)

In [50]:
# Merge activity and test data frame with people_df
train_dataset = pd.merge(people_df, activity_df, how='right', left_on='people_people_id', right_on="people_id")
test_dataset = pd.merge(people_df, test_df, how='right', left_on='people_people_id', right_on="people_id")

In [51]:
# clearing memory
del people_df
del activity_df
del test_df

# Not using the official label encoder because it is beneficial to have type 7 -> 7
# The label encoder might assign a value '6' to type 7 based on the order in which it appears in the list
# Sorting might improve it but sometimes values are missing from the type
# DOUBT: not sure if continuous encoding values are a requirement ?
train_dataset = category_to_label_encoding(train_dataset)
test_dataset = category_to_label_encoding(test_dataset)

In [52]:
train_dataset['people_people_id']=train_dataset['people_people_id'].apply(lambda x: str(x).split('_')[1]).astype(np.float32)
test_dataset['people_people_id']=test_dataset['people_people_id'].apply(lambda x: str(x).split('_')[1]).astype(np.float32)
test_dataset['people_id']=test_dataset['people_id'].apply(lambda x: str(x).split('_')[1]).astype(np.float32)
train_dataset['people_id']=train_dataset['people_id'].apply(lambda x: str(x).split('_')[1]).astype(np.float32)
test_dataset['activity_id_num']=test_dataset['activity_id'].apply(lambda x: str(x).split('_')[1]).astype(np.float32)
train_dataset['activity_id_num']=train_dataset['activity_id'].apply(lambda x: str(x).split('_')[1]).astype(np.float32)

In [59]:
activity_id

0          act2_1734928
1          act2_2434093
2          act2_3404049
3          act2_3651215
4          act2_4109017
5           act2_898576
6          act2_1233489
7          act2_1623405
8          act2_1111598
9          act2_1177453
10          act2_133509
11         act2_1408475
12         act2_1610829
13         act2_1688731
14         act2_1961720
15         act2_1988351
16         act2_2198176
17         act2_2437661
18         act2_2476911
19         act2_2557270
20         act2_2581989
21         act2_3116385
22         act2_3159712
23         act2_3292005
24         act2_3461867
25         act2_3468306
26         act2_3867292
27         act2_3990676
28         act2_4102292
29         act2_4160587
               ...
2197261    act2_2053669
2197262    act2_2053762
2197263    act2_2134893
2197264    act2_2139237
2197265    act2_2233766
2197266    act2_2499779
2197267    act2_2514377
2197268    act2_2537795
2197269    act2_2582736
2197270    act2_2674371
2197271    act2_2808953
2197272    act2_2840212
2197273    act2_2992386
2197274    act2_3177773
2197275    act2_3284072
2197276    act2_3373847
2197277    act2_3534467
2197278    act2_3903321
2197279    act2_4024188
2197280    act2_4355021
2197281    act2_4433480
2197282    act2_4440524
2197283    act2_4473896
2197284    act2_4479985
2197285    act2_4581579
2197286    act2_4668076
2197287    act2_4743548
2197288     act2_536973
2197289     act2_688656
2197290     act2_715089
Name: activity_id, dtype: object

In [63]:
train_dataset.columns

Index([u'people_people_id', u'people_char_1', u'people_group_1',
       u'people_char_2', u'people_date', u'people_char_3', u'people_char_4',
       u'people_char_5', u'people_char_6', u'people_char_7', u'people_char_8',
       u'people_char_9', u'people_char_10', u'people_char_11',
       u'people_char_12', u'people_char_13', u'people_char_14',
       u'people_char_15', u'people_char_16', u'people_char_17',
       u'people_char_18', u'people_char_19', u'people_char_20',
       u'people_char_21', u'people_char_22', u'people_char_23',
       u'people_char_24', u'people_char_25', u'people_char_26',
       u'people_char_27', u'people_char_28', u'people_char_29',
       u'people_char_30', u'people_char_31', u'people_char_32',
       u'people_char_33', u'people_char_34', u'people_char_35',
       u'people_char_36', u'people_char_37', u'people_char_38', u'people_days',
       u'people_month', u'people_quarter', u'people_year', u'people_week',
       u'people_dayOfYear', u'people_id', u'date', u'activity_category',
       u'char_1', u'char_2', u'char_3', u'char_4', u'char_5', u'char_6',
       u'char_7', u'char_8', u'char_9', u'char_10', u'outcome', u'days',
       u'month', u'quarter', u'year', u'week', u'dayOfYear',
       u'activity_id_num'],
      dtype='object')

In [66]:
activity_id = train_dataset["activity_id"]
#del train_dataset["activity_id"]
#train_dataset['activity_id'] = activity_id
#train_dataset

In [67]:
del train_dataset['date']
del train_dataset['people_date']
del test_dataset['date']
del test_dataset['people_date']

In [68]:
y = train_dataset['outcome']

In [69]:
del train_dataset['outcome']

In [70]:
# flatten y into a 1-D array
y = np.ravel(y)

In [71]:
# instantiate a logistic regression model, and fit with X and y
model = LogisticRegression()
model = model.fit(train_dataset, y)

In [72]:
model.score(train_dataset, y)

0.81963517804423724

In [23]:
# examine the coefficients
pd.DataFrame(zip(train_dataset.columns, np.transpose(model.coef_))).sort

                    0                     1
0    people_people_id  [-1.04073383909e-07]
1       people_char_1  [-3.23636700399e-05]
2      people_group_1  [-3.22015743899e-05]
3       people_char_2   [0.000461790618571]
4       people_char_3   [-0.00290640138852]
5       people_char_4   [-0.00138551956726]
6       people_char_5  [-0.000273403273971]
7       people_char_6  [-0.000574145860077]
8       people_char_7   [-0.00185595886133]
9       people_char_8  [-6.27696303066e-05]
10      people_char_9    [0.00018960382179]
11     people_char_10   [0.000139849876992]
12     people_char_11   [0.000101754445774]
13     people_char_12   [0.000113390164709]
14     people_char_13   [0.000198751255522]
15     people_char_14   [0.000131767591675]
16     people_char_15    [0.00013630667637]
17     people_char_16   [0.000149707605869]
18     people_char_17   [0.000157751888372]
19     people_char_18    [8.6413384973e-05]
20     people_char_19   [0.000149682612196]
21     people_char_20   [0.000131930584443]
22     people_char_21   [0.000148112229208]
23     people_char_22   [0.000153607101517]
24     people_char_23   [0.000142051648897]
25     people_char_24   [9.41962817421e-05]
26     people_char_25   [0.000155087790519]
27     people_char_26   [7.14605959775e-05]
28     people_char_27   [0.000127480333865]
29     people_char_28    [0.00014927734989]
..                ...                   ...
35     people_char_34   [0.000189119414891]
36     people_char_35   [0.000102769012937]
37     people_char_36   [0.000190278602689]
38     people_char_37   [0.000157271092059]
39     people_char_38     [0.0348807558182]
40        people_days  [-4.77787507468e-05]
41       people_month   [0.000121396170239]
42     people_quarter   [1.57334164043e-05]
43        people_year  [-0.000332664521619]
44        people_week   [0.000423206126364]
45   people_dayOfYear  [-0.000284276019088]
46          people_id  [-1.04073383909e-07]
47        activity_id   [4.72921582228e-09]
48  activity_category  [-1.99493072733e-05]
49             char_1  [-5.38221645654e-05]
50             char_2  [-3.46916156508e-05]
51             char_3  [-2.44470230028e-05]
52             char_4  [-2.04500952716e-05]
53             char_5  [-1.95611665823e-05]
54             char_6  [-1.49522903734e-05]
55             char_7  [-1.94532411507e-05]
56             char_8  [-3.51087397721e-05]
57             char_9  [-4.46597457647e-05]
58            char_10  [-6.37285893925e-06]
59               days   [1.94596068874e-05]
60              month  [-0.000277867226468]
61            quarter  [-0.000103195968144]
62               year  [-0.000362668726963]
63               week    [-0.0012944957463]
64          dayOfYear  [-0.000624814368533]

[65 rows x 2 columns]

In [73]:
# evaluate the model by splitting into train and test sets
X_train, X_test, y_train, y_test = train_test_split(train_dataset, y, test_size=0.3, random_state=0)
model2 = LogisticRegression()
model2.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [25]:
# predict class labels for the test set
predicted = model2.predict(X_test)
print predicted

[0 0 0 ..., 1 1 1]

In [26]:
# generate class probabilities
probs = model2.predict_proba(X_test)
print probs

[[ 0.57245135  0.42754865]
 [ 0.90012057  0.09987943]
 [ 0.94795682  0.05204318]
 ...,
 [ 0.17943351  0.82056649]
 [ 0.43823449  0.56176551]
 [ 0.12453494  0.87546506]]

In [27]:
# generate evaluation metrics
print metrics.accuracy_score(y_test, predicted)
print metrics.roc_auc_score(y_test, probs[:, 1])

0.819790408806
0.888895486227

In [28]:
print metrics.confusion_matrix(y_test, predicted)
print metrics.classification_report(y_test, predicted)

[[293471  73072]
 [ 45720 246925]]
             precision    recall  f1-score   support

          0       0.87      0.80      0.83    366543
          1       0.77      0.84      0.81    292645

avg / total       0.82      0.82      0.82    659188

In [30]:
predicted = model2.predict(test_dataset)
print predicted

[1 1 1 ..., 0 0 0]

In [31]:
predicted = model.predict(X_test)
print predicted

[0 0 0 ..., 1 1 1]

In [32]:
predicted = model2.predict(test_dataset)
print predicted

[1 1 1 ..., 0 0 0]

In [76]:
activity_id_test = test_dataset["activity_id"]
del test_dataset["activity_id"]
#test_dataset['activity_id'] = activity_id_test
#test_dataset

In [77]:
# generate class probabilities
probs = model.predict_proba(test_dataset)
print probs

[[ 0.40780617  0.59219383]
 [ 0.40932655  0.59067345]
 [ 0.25329046  0.74670954]
 ...,
 [ 0.76089749  0.23910251]
 [ 0.76089505  0.23910495]
 [ 0.76492262  0.23507738]]

In [78]:
test_dataset['activity_id'] = activity_id_test
test_dataset

,people_people_id,people_char_1,people_group_1,people_char_2,people_char_3,people_char_4,people_char_5,people_char_6,people_char_7,people_char_8,...,char_9,char_10,days,month,quarter,year,week,dayOfYear,activity_id_num,activity_id
0,100004.0,2,22593,3,40,25,9,4,16,2,...,4,0,2,7,3,2022,29,20,249281.0,act1_249281
1,100004.0,2,22593,3,40,25,9,4,16,2,...,0,682,2,7,3,2022,29,20,230855.0,act2_230855
2,10001.0,2,25417,3,6,6,4,1,1,2,...,10,0,4,10,4,2022,41,14,240724.0,act1_240724
3,10001.0,2,25417,3,6,6,4,1,1,2,...,5,0,6,11,4,2022,47,27,83552.0,act1_83552
4,10001.0,2,25417,3,6,6,4,1,1,2,...,0,3015,5,10,4,2022,41,15,1043301.0,act2_1043301
5,10001.0,2,25417,3,6,6,4,1,1,2,...,0,4987,6,11,4,2022,47,27,112890.0,act2_112890
6,10001.0,2,25417,3,6,6,4,1,1,2,...,0,3015,5,10,4,2022,41,15,1169930.0,act2_1169930
7,10001.0,2,25417,3,6,6,4,1,1,2,...,0,3015,5,10,4,2022,41,15,1924448.0,act2_1924448
8,10001.0,2,25417,3,6,6,4,1,1,2,...,0,3015,5,10,4,2022,41,15,1953554.0,act2_1953554
9,10001.0,2,25417,3,6,6,4,1,1,2,...,0,3015,0,11,4,2022,48,28,1971739.0,act2_1971739
10,10001.0,2,25417,3,6,6,4,1,1,2,...,0,3015,6,10,4,2022,41,16,2839282.0,act2_2839282
11,10001.0,2,25417,3,6,6,4,1,1,2,...,0,3015,6,11,4,2022,47,27,2889351.0,act2_2889351
12,10001.0,2,25417,3,6,6,4,1,1,2,...,0,3015,5,10,4,2022,41,15,3238933.0,act2_3238933
13,10001.0,2,25417,3,6,6,4,1,1,2,...,0,3015,5,10,4,2022,41,15,3384798.0,act2_3384798
14,10001.0,2,25417,3,6,6,4,1,1,2,...,0,3015,6,11,4,2022,47,27,3701358.0,act2_3701358
15,10001.0,2,25417,3,6,6,4,1,1,2,...,0,3015,5,10,4,2022,41,15,3715695.0,act2_3715695
16,10001.0,2,25417,3,6,6,4,1,1,2,...,0,3015,6,11,4,2022,47,27,3734085.0,act2_3734085
17,10001.0,2,25417,3,6,6,4,1,1,2,...,0,3015,6,10,4,2022,41,16,3961391.0,act2_3961391
18,10001.0,2,25417,3,6,6,4,1,1,2,...,0,3015,5,10,4,2022,41,15,4167474.0,act2_4167474
19,10001.0,2,25417,3,6,6,4,1,1,2,...,0,3015,5,10,4,2022,41,15,4397847.0,act2_4397847
20,10001.0,2,25417,3,6,6,4,1,1,2,...,0,3015,5,10,4,2022,41,15,4649285.0,act2_4649285
21,10001.0,2,25417,3,6,6,4,1,1,2,...,0,3015,5,10,4,2022,41,15,538607.0,act2_538607
22,10001.0,2,25417,3,6,6,4,1,1,2,...,0,3015,6,11,4,2022,47,27,584216.0,act2_584216
23,10001.0,2,25417,3,6,6,4,1,1,2,...,0,3015,5,10,4,2022,41,15,596561.0,act2_596561
24,10001.0,2,25417,3,6,6,4,1,1,2,...,0,3015,6,11,4,2022,47,27,649143.0,act2_649143
25,10001.0,2,25417,3,6,6,4,1,1,2,...,0,3015,6,10,4,2022,41,16,659237.0,act2_659237
26,10001.0,2,25417,3,6,6,4,1,1,2,...,0,3015,0,11,4,2022,48,28,688604.0,act2_688604
27,100010.0,2,17304,2,8,7,8,1,7,1,...,1,0,3,9,3,2022,35,1,218751.0,act1_218751
28,100010.0,2,17304,2,8,7,8,1,7,1,...,1,0,3,9,3,2022,35,1,383524.0,act1_383524
29,100010.0,2,17304,2,8,7,8,1,7,1,...,0,52,3,9,3,2022,35,1,3973689.0,act2_3973689
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498657,99963.0,2,667,3,40,25,9,1,2,2,...,0,465,3,7,3,2023,29,20,3146168.0,act2_3146168
498658,99963.0,2,667,3,40,25,9,1,2,2,...,0,400,5,7,3,2023,26,1,3435600.0,act2_3435600
498659,99963.0,2,667,3,40,25,9,1,2,2,...,0,465,3,7,3,2023,29,20,3648161.0,act2_3648161
498660,99963.0,2,667,3,40,25,9,1,2,2,...,0,400,4,6,2,2023,26,30,4609368.0,act2_4609368
498661,99963.0,2,667,3,40,25,9,1,2,2,...,0,465,3,7,3,2023,29,20,488594.0,act2_488594
498662,99963.0,2,667,3,40,25,9,1,2,2,...,0,2,6,6,2,2023,25,25,568974.0,act2_568974
498663,99975.0,2,11303,3,40,25,9,1,23,2,...,1,0,2,6,2,2023,26,28,187412.0,act1_187412
498664,99975.0,2,11303,3,40,25,9,1,23,2,...,0,3,3,6,2,2023,26,29,1907199.0,act2_1907199
498665,99975.0,2,11303,3,40,25,9,1,23,2,...,0,194,3,6,2,2023,26,29,3825329.0,act2_3825329
498666,99975.0,2,11303,3,40,25,9,1,23,2,...,0,1,3,6,2,2023,26,29,4540493.0,act2_4540493
498667,99975.0,2,11303,3,40,25,9,1,23,2,...,0,390,3,6,2,2023,26,29,4716058.0,act2_4716058
498668,99986.0,2,17304,2,4,6,4,3,8,3,...,0,1,3,9,3,2022,37,15,1374659.0,act2_1374659
498669,99986.0,2,17304,2,4,6,4,3,8,3,...,0,437,3,9,3,2022,37,15,4191036.0,act2_4191036
498670,99997.0,2,17304,2,40,25,9,3,8,6,...,0,1,1,10,4,2022,42,18,1893941.0,act2_1893941
498671,99997.0,2,17304,2,40,25,9,3,8,6,...,0,1,1,8,3,2023,33,15,2245699.0,act2_2245699
498672,99997.0,2,17304,2,40,25,9,3,8,6,...,0,1,3,6,2,2023,23,8,2316472.0,act2_2316472
498673,99997.0,2,17304,2,40,25,9,3,8,6,...,0,1,5,4,2,2023,16,22,2372813.0,act2_2372813
498674,99997.0,2,17304,2,40,25,9,3,8,6,...,0,1,5,9,3,2022,38,24,2433185.0,act2_2433185
498675,99997.0,2,17304,2,40,25,9,3,8,6,...,0,1,1,11,4,2022,48,29,2576346.0,act2_2576346
498676,99997.0,2,17304,2,40,25,9,3,8,6,...,0,1,4,11,4,2022,47,25,2718841.0,act2_2718841
498677,99997.0,2,17304,2,40,25,9,3,8,6,...,0,1,1,9,3,2022,37,13,2902742.0,act2_2902742
498678,99997.0,2,17304,2,40,25,9,3,8,6,...,0,1,3,6,2,2023,23,8,3448131.0,act2_3448131
498679,99997.0,2,17304,2,40,25,9,3,8,6,...,0,1,1,8,3,2022,32,9,3757705.0,act2_3757705
498680,99997.0,2,17304,2,40,25,9,3,8,6,...,0,1,5,11,4,2022,44,5,4149173.0,act2_4149173
498681,99997.0,2,17304,2,40,25,9,3,8,6,...,0,1,5,6,2,2023,23,10,4355610.0,act2_4355610
498682,99997.0,2,17304,2,40,25,9,3,8,6,...,0,1,5,4,2,2023,16,22,4367092.0,act2_4367092
498683,99997.0,2,17304,2,40,25,9,3,8,6,...,0,1,5,11,4,2022,45,12,4404220.0,act2_4404220
498684,99997.0,2,17304,2,40,25,9,3,8,6,...,0,1,1,8,3,2022,31,2,448830.0,act2_448830
498685,99997.0,2,17304,2,40,25,9,3,8,6,...,0,1,1,8,3,2022,31,2,450133.0,act2_450133
498686,99997.0,2,17304,2,40,25,9,3,8,6,...,0,1,5,10,4,2022,41,15,847967.0,act2_847967

In [ ]:
train_dataset['activity_id']=train_dataset['activity_id'].apply(lambda x: "activity_id").astype(np.float32)
people_df = people_df.rename(columns=lambda x : "people_" + x)

In [79]:
test_dataset['outcome'] = probs[:,1]

In [80]:
test_dataset[['activity_id','outcome']].set_index(['activity_id']).to_csv('../results.csv')